.btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 250px;
}
.openBtn {
  font-family: "Courier New", Courier, monospace;
  color: antiquewhite;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 700;
  padding: 25px;
}
