.modalWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  color: #ffffff;
  position: relative;
  bottom: 100px;
  z-index: 11;
  background: rgb(255, 230, 0);
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  p {
    padding: 20px;
    text-align: center;
  }
  .modalHeader {
    background-color: rgb(165, 149, 1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 20px 20px 20px 20px;
  }
  .modalBtn {
    color: #ffffff;
    display: block;
    background-color: rgb(165, 149, 1);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    min-width: 100px;
  }
}
.modal_1 {
  background: red;
  .modalHeader {
    background-color: #bd0202;
  }
  .modalBtn {
    background-color: #bd0202;
  }
}
.modal_2 {
  font-family: "Courier New", Courier, monospace;
  background: green;
  .modalHeader {
    background-color: rgb(1, 90, 1);
  }
  .modalBtn {
    background-color: rgb(1, 90, 1);
    width: 100%;
  }
}
.modalBtnWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px 10px 20px;
}
.closeBtn {
  display: block;
  background: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}
.modalBg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #000000;
  opacity: 0.6;
}
