*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #ffffff;
}
picture,
video,
canvas,
svg {
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  background-color: antiquewhite;
}
